<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Input Form</title>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </head>

    <body>
        <h2>Input Form</h2>
        <form id="myInputForm">
            <label for="name">Enter your name:</label><br>
            <input type="text" id="name" name="name"><br><br>

            <label for="name">Enter your lucky number:</label><br>
            <input type="text" id="luckyNumber" name="number"><br><br>

            <button type="submit">Submit</button>
        </form>

        <div id="result"></div>
    </body>

</html>